* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
    margin-top: 64px;
    margin-bottom: 64px;
}

 .card {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 28px;
    background-color: #FAF2E6;
    border-radius: 12px;
}

.text {
    display: inline-block;
    margin-bottom: 12px;
    padding: 3px 8px;
    border: 1px solid #205529;
    border-radius: 4px;
    font-size: 12px;
    line-height: 132%;
    color: #205529;
}

.allow {
    white-space: pre-line;
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 108%;
    font-weight: 400;
    color: #205529;
} 

.offer {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 136%;
    color: #205529;
}

.button {
    padding: 12px 16px;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    background-color: #205529;
    font-size: 14px;
    line-height: 136%;
    font-weight: 400;
    color: #FAF2E6;
}