@import
'mixins',
'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.hero {
    margin-top: 100px;

    &__container {
    padding: 50px;
    margin: 0 auto;
    height: 100%;
    max-width: 480px;
    border-radius: 30px;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 2px 4px rgba($color: #151515, $alpha: 1.0);
    }

    &__title {
        margin-bottom: $spacing;
        font-weight: 600;
        font-size: 32px;
        text-align: center;
        color: olivedrab;
    }

    &__text {
        margin-bottom: $spacing;
        max-width: 767px;
        width: 100%;
        font-weight: 400;
        font-size: $size-base;
        line-height: $line-base;
        color: $primary-color;
    }

    &__cards {
        margin-bottom: $spacing;
    }

    &__btn {
        width: 100%;
        padding: $spacing;
        border-radius: 30px;
        background-color: rgb(91, 113, 47);
        color: #fff;
        font-size: $size-base;
        line-height: $line-base;
        text-transform: uppercase;
    }
}

.card:not(:last-child) {
    margin-bottom: $spacing;
}

.card {
    border-radius: 10px;
    border: 1px solid rgb(15, 133, 58);
    box-shadow: 0 2px 4px rgba($color: rgb(15, 133, 58), $alpha: 1.0);
    padding: 10px;
    text-align: center;
    background-image: url(fon.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__title {
        margin-bottom: 10px;
        color: rgb(15, 133, 58);
        font-size: 20px;
        line-height: $line-base;
    }

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }

    &__item {
        font-size: 20px;
        line-height: $line-base;
        color: rgb(29, 107, 58);
    }
}