@import url('https://fonts.google.com/specimen/Poppins');

$primary-color: rgba(255, 255, 255, 1);
$font-stack: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    color: $primary-color;
    font-family: $font-stack;
}

.card {
    margin: 100px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        padding: 72px 35px;
        background-image: url(fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__content {
        max-width: 305px;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 600;
        font-style: italic;
        font-size: 30px;
        line-height: 36px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        white-space: pre-line;
    }

    &__form {
        display: flex;
        max-width: 305px;
        width: 100%;

        &_input {
        outline: none;
        border: none;
        max-width: 195px;
        width: 100%;
        padding: 16px 12px;
        background-color: $primary-color;
        font-weight: 500;
        font-size: 12px;  
        line-height: 16px;
        }

        &_btn {
            max-width: 110px;
            width: 100%;
            padding: 16px;
            color: $primary-color;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            background-color: rgba(1, 1, 1, 1);
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        &_btn svg {
            margin-left: 6px;
        }
    }

}