@import
'variables';

@import url('https://fonts.google.com/specimen/Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    color: $primary-color;
    font-family: $font-stack;
}

.card {
        padding: 72px 0;
        background-image: url(fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media (min-width: 768px) {
            padding: 54px 0;
        }

        @media (min-width: 1440px) {
            padding: 123px 0;
        }


    &__container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 35px;

        @media (min-width: 768px) {
            max-width: 692px;
            padding: 0 21px;
        }

        @media (min-width: 1440px) {    
            max-width: 990px;
            padding: 0 15px;
        }

    }

    &__content {
        text-align: center;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 600;
        font-style: italic;
        font-size: 30px;
        line-height: 36px;

        @media (min-width: 834px) {
            font-size: 48px;
            line-height: 48px;
        }

        @media (min-width: 1440px) {
            font-size: 60px;
            line-height: 60px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        @media (min-width: 768px) {
            max-width: 380px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 28px;
        }

        @media (min-width: 1440px) {
            max-width: 624px;
            // margin: 0 auto;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__form {
        display: flex;
        width: 100%;

        @media (min-width: 768px) {
            max-width: 653px;
            margin: 0 auto;
        }
    }

    &__input {
        outline: none;
        border: none;
        width: 100%;
        padding: 16px 12px;
        background-color: $primary-color;
        font-weight: 500;
        font-size: 12px;  
        line-height: 16px;

        @media (min-width: 768px) {
            padding: 12px;
            font-size: 14px;
            line-height: 24px;
        }
        }

    &__btn {
            max-width: 110px;
            width: 100%;
            padding: 16px;
            color: $primary-color;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            background-color: rgba(1, 1, 1, 1);
            display: flex;
            align-items: center;
            white-space: nowrap;

        @media (min-width: 768px) {
            max-width: 126px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 28px;
            }
        }

    &__btn svg {
            margin-left: 6px;
        }

}