@import url('https://fonts.google.com/specimen/Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    color: #1C1C1C;
}

.section-radio-checkbox {
    max-width: 480px;
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.model { 
    padding: 32px 34px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.model__title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.model__filter {
    margin-bottom: 30.5px;
}

.model__text {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.model__groups {
    display: flex;
    gap: 35px;
    max-width: 237px;
}

.model__label {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.model__custom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    border-radius: 30px;
}

.model__custom-radio::before {
    content: '';
    opacity: 0;
    display: inline-block;
    border-radius: 30px;
    width: 14px;
    height: 14px;
    background-color: #463998;
}

.model__radio:checked+.model__label .model__custom-radio {
    border-color: #463998;
}

input[type="radio"] {
    display: none;
}

.model__radio:checked+.model__label .model__custom-radio::before {
    opacity: 1;
}

.label {
    margin-bottom: 13px;
}

.model__custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    border-radius: 30px;
}

.model__custom-checkbox svg {
    opacity: 0;
}

.model__checkbox:checked + .model__label .model__custom-checkbox {
    background: #463998;
    border-color: #463998;

    svg {
        opacity: 1;
    }
}

/* Form */
.section-forms {
    max-width: 544px;
    margin: 0 auto;
}

.form {
    position: relative;
    padding: 52px 40px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.form__btn-close {
    position: absolute;
    top: 52px;
    right: 40px;
    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 1px solid #D4D4D4;
    width: 10px;
    height: 10px;
    font-size: 10px;
    background-image: url(img/Vector.png);
    background-size: cover;
}

.form__title {
    margin-top: 20px;
    margin-bottom: 24px;
    white-space: pre-line;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
}

.form__groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
    margin-bottom: 26px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__input {
    border: 1px solid #D4D4D4;
    border-radius: 30px;
    padding-left: 26px;
    padding-top: 10px;
    padding-bottom: 11px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #A1A1A1;
}

.form__lable {
    padding-left: 26px;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #585858;
}

.form__group-textarea {
    display: flex;
    flex-direction: column;
}

.form__texrarea {
    width: 100%;
    height: 200px;
    padding-top: 21px;
    padding-left: 26px;
    margin-bottom: 24px;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #A1A1A1;
}

.form__btn {
    outline: none;
    cursor: pointer;
    width: 220px;
    display: block;
    margin: 0 auto;
    padding: 11px 54px;
    background-color: #EC1C24;
    border-color: #EC1C24;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.form__btn svg {
    width: 11px;
    height: 11px;
    margin-left: 8px;
}





