* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards {
    margin: 200px 0;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    display: flex;
}

.card {
    flex: 1 0 288;
    padding: 30px 50px;
    border: 1px solid #EBEBF0;
} 

