@import url('https://fonts.google.com/specimen/Inter');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body {
      background: rgba(27, 35, 22, 1);
      font-family: 'Inter', sans-serif;
      font-size: 28px;
    }

    .swiper {
      width: 1678px;
      height: 100%;
    }

    .section-swiper {
        margin: 351px 0;
    } 

    .swiper-wrapper {
        padding-top: 122px;
        padding-bottom: 135px;
    }
    
    .swiper-slide {
        display: flex; 
        align-items: center;
        justify-content: end;
        position: relative;
        padding-top: 137px;
        padding-bottom: 132px;
        padding-right: 10px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 92px;
        border: 3px solid rgba(255, 255, 255, 0.05);
    }

    .swiper-slide img {
        position: absolute;
        display: block;
        height: 140%;
        object-fit: contain;
        left: 0px;
        bottom: 0px;
        z-index: 100;
    }

    .swiper-slide__content {
        max-width: 748px;
        width: 100%;
    }

    .swiper-slide__title {
        font-weight: 600;
        font-size: 38px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        margin-bottom: 42px;
    } 

    .swiper-slide__text {
        font-weight: 600;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 42px;
    }

    .swiper-slide__btn {
        outline: none;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 12px;
        font-weight: 400;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        padding: 15px;
        background-color: transparent;
        max-width: 217px;
        width: 100%;
        cursor: pointer;
    } 

    /* Pugination */
    .swiper-pagination-bullet {
        /* position: absolute; */
        display: inline-block;
        width: 11px;
        height: 11px;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .swiper-pagination-bullet-active {
        width: 31px;
        border-radius: 48px;
    }

