@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://fonts.google.com/specimen/Inter+Tight');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.plans {
    background-color: #070707;
    padding: 436px 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1150px;
}

.plans__heading {
    max-width: 639px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

.plans__title {
    margin-bottom: 14px;
    white-space: pre-line;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

.plans__text {
    white-space: pre-line;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.plans__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.plan {
    background-color: #FFFFFF38;
    border: 1px solid White;
    border-radius: 12px;
    padding: 24px;
}

.plan__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.plan__text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.plan__premium {
    grid-column: 1/3;
    background-color: #F5AA21;
    border: 1px solid White;
    border-radius: 12px;
    padding: 24px;
}

.plan__title_premium {
    margin-bottom: 12px;
    color: #070707;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.plan__text_premium {
    color: #070707;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}