@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.page {
font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
    max-width: 320px;
    padding: 35px;
    border-radius: 25px;
    background-color: #485C46;
    text-align: center;
}

.section__card {
    padding: 37px 0;
}

.section__title {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.section__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.section__button {
    padding: 16px 24px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #485C46;
}