@import url('https://fonts.google.com/specimen/Inter+Tight');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter Tight', sans-serif;
    color: #000704;
}

.cards {
    margin: 130px 0px;
}

.cards-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card__content {
    display: block;
    position: relative;
    aspect-ratio: 360 / 380;
}

.card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__links {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 24px;
    right: 28px;
}

.card__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ff2900;
    border-radius: 50%;
}

.card__name {
    padding: 20px 0;
    outline: none;
    border-bottom: 2px solid #00AC6D;
}

.card__title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
}

.card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #7F8381;
}

