@import url('https://fonts.google.com/specimen/Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(15, 15, 15, 1);
}

.products {
    margin-top: 143px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 100%;
}

.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 30px;
    background-color: rgba(194, 180, 163, 1);
    background-image: url(img/Vector\ .png);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 16px;
    color: rgba(15, 15, 15, 1);
}

.products__title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 37px;
    line-height: 120%;
    text-transform: uppercase;
}

.products__text {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(31, 31, 31, 1);
}

.products__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px; 
    width: 100%;
    padding: 16px 32px;
    background-color: rgba(31, 31, 31, 1);
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    border: none;
} 

@media (min-width: 1280px) {

    .products {
    margin-top: 188px;
}

.container {
    max-width: 1310px;
}

.products__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    padding: 80px 120px 80px 80px;
    background-image: url(img/vector-laptop.png);
}

.products__info {
    max-width: 804px;
}

.products__btn {
    max-width: 126px;
    padding: 14px;  
}
}

@media (min-width: 1584px) {
    .products {
        margin-top: 214px;
}

    .container {
    max-width: 1614px;
}

    .products__container{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 142px;
    }

    .products__info {
    max-width: 1033px;
    }
}