@import url('https://fonts.google.com/specimen/Inter+Tight');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Inter Tight', sans-serif;
    max-width: 1376px;
    margin: 0 auto;
    background-color: #070707;
    height: 100vh;
}

.header {
    position: fixed;
    top: 31px;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    background-color: #fff;
    border-radius: 76px;
    padding: 14px;
}

.header__logo::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-image: url(img/logo.svg);
    background-size: contain;
}

.header__logo {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #070707;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 298px;
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #070707;
}

.header__btn {
    padding: 12px 10px;
    border-radius: 72px;
    background-color: #F5F5F5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #070707;
}