@import url('https://fonts.google.com/specimen/Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.private-jet {
    background-color: #fff;
    padding: 200px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.private-jet__title {
    max-width: 785px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 65px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

/* .private-jet__container {
     max-width: 1440px;
     padding-left: 199px;
     padding-right: 151px;
} */

.private-jet__content {
    display: flex;
    justify-content: center;
    gap: 38px;
    max-width: 1440px;
    padding: 66px 0;
}

.private-paragraph {
    max-width: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.private-paragraph__title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.private-paragraph__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: justify;
}

.private {
    background-image: url(img/Rectangle1.png);
    background-repeat: no-repeat;
    background-position: top left;
    /* transform: scaleX(-1); */
}

.business {
    background-image: url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: top right;
    
}


